<div class="min-h-screen flex items-center justify-center bg-[#2B2738] py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Verificar código</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Ingresa el código que recibiste en tu correo electrónico
      </p>
      
      <form [formGroup]="verificationForm" (ngSubmit)="onVerifySubmit($event)" class="mt-8 space-y-6">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="code" class="sr-only">Código de verificación</label>
            <input 
              id="code" 
              formControlName="code"
              type="text"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Código de verificación"
            />
          </div>
        </div>
  
        <div>
          <button 
            type="submit" [disabled]="isLoading()"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            {{ isLoading() ? 'Cargando...' : 'Verificar' }}
          </button>
        </div>
  
        <!-- Mensaje de error -->
        <div *ngIf="errorMessage" class="w-full bg-red-500 text-white font-bold mt-2 text-center py-2 px-4 rounded-2xl">
          {{ errorMessage }}
        </div>
      </form>
  
      <!-- Mensaje de ayuda para reenvío de código -->
      <div class="mt-6 text-center text-sm text-gray-600">
        <p>¿No recibiste el código?</p>
        <a href="#" class="text-indigo-600 hover:text-indigo-500 font-medium">Reenviar código</a>
      </div>
    </div>
  </div>
