<div class="min-h-screen flex items-center justify-center bg-primary-main py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl w-full text-text-light bg-primary-main p-8 py-16 border-8 border-primary-light rounded-2xl shadow-lg">
      <h2 class="text-center text-3xl lg:text-4xl font-extrabold text-white">Verificar código</h2>
      <p class="mt-2 text-center">
        Ingresa el código que recibiste en tu correo electrónico
      </p>
      
      <form [formGroup]="verificationForm" (ngSubmit)="onVerifySubmit($event)" class="mt-8 space-y-6">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="code" class="sr-only">Código de verificación</label>
            <input 
              id="code" 
              formControlName="code"
              type="text"
              required
              class="appearance-none rounded-2xl relative block w-full px-3 py-3 bg-primary-light placeholder-gray-300 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Código de verificación"
            />
          </div>
        </div>
  
        <div>
          <button 
            type="submit" [disabled]="isLoading()"
            class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-2xl text-white bg-secondary-main hover:bg-[#6d49cf] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            {{ isLoading() ? 'Cargando...' : 'Verificar' }}
          </button>
        </div>
  
        <!-- Mensaje de error -->
        <div *ngIf="errorMessage" class="w-full bg-red-500 text-white font-bold mt-2 text-center py-2 px-4 rounded-2xl">
          {{ errorMessage }}
        </div>
      </form>

    </div>
  </div>
