<div class="fixed inset-0 z-10 flex items-center text-white justify-center bg-gray-600 bg-opacity-80 select-none">

    <div class="relative bg-[#2B2738] w-full max-w-lg max-h-[90vh] lg:max-h-[80vh] overflow-auto lg:max-w-4xl p-8 rounded-2xl shadow-lg mx-1 lg:mx-4 md:mx-0">

        <button  (click)="toggleEditForm()" class="absolute top-5 right-5">
            <img src="/icons/close.svg" alt="Close" class="w-6 h-6">
        </button>

        <h2 class="text-2xl font-bold mb-6">Datos personales</h2>

        <form class="space-y-4" (ngSubmit)="onEditSubmit($event)" [formGroup]="userEditForm">
            <div>
                <label for="nombre" class="block pl-2 font-medium">Nombre</label>
                <input type="text" id="nombre" name="nombre" formControlName="name"
                class="bg-[#3B364C] mt-1 w-full px-4 py-3 rounded-2xl shadow-sm focus:ring-purple-500 focus:border-purple-500">
                <small class="text-red-500 text-xs mt-1" *ngIf="userEditForm.get('name')?.invalid">
                    <span *ngIf="userEditForm.get('name')?.hasError('pattern')">Solo se permiten letras</span>
                </small>
            </div>

            <div>
                <label for="apellido" class="block pl-2 font-medium">Apellido</label>
                <input type="text" id="apellido" name="apellido" formControlName="lastName"
                class="bg-[#3B364C] mt-1 w-full px-4 py-3 rounded-2xl shadow-sm focus:ring-purple-500 focus:border-purple-500">
                <small class="text-red-500 text-xs mt-1" *ngIf="userEditForm.get('lastName')?.invalid">
                    <span *ngIf="userEditForm.get('lastName')?.hasError('pattern')">Solo se permiten letras</span>
                </small>
            </div>

            <div>
                <label for="email" class="block pl-2 font-medium">Email</label>
                <input type="email" id="email" name="email" formControlName="email"
                class="bg-[#3B364C] mt-1 w-full px-4 py-3 rounded-2xl shadow-sm focus:ring-purple-500 focus:border-purple-500">
                <small class="text-red-500 text-xs mt-1" *ngIf="userEditForm.get('email')?.invalid">
                    <span *ngIf="userEditForm.get('email')?.hasError('email')">Debes ingresar un email valido</span>
                </small>
            </div>

            <div>
                <label for="telefono" class="block pl-2 font-medium">Teléfono</label>
                <input type="tel" id="telefono" name="telefono" formControlName="phone"
                class="bg-[#3B364C] mt-1 w-full px-4 py-3 rounded-2xl shadow-sm focus:ring-purple-500 focus:border-purple-500">
                <small class="text-red-500 text-xs mt-1" *ngIf="userEditForm.get('phone')?.invalid">
                    <span *ngIf="userEditForm.get('phone')?.hasError('minlength')">El teléfono debe tener 10 caracteres</span>
                    <span *ngIf="userEditForm.get('phone')?.hasError('maxlength')">El teléfono debe tener 10 caracteres</span>
                </small>
            </div>

            <div>
                <label for="zipCode" class="block pl-2 font-medium">Codigo Postal</label>
                <input type="number" id="telefono" name="zipCode" formControlName="zipCode"
                class="bg-[#3B364C] mt-1 w-full px-4 py-3 rounded-2xl shadow-sm focus:ring-purple-500 focus:border-purple-500 no-arrows">
            </div>

            <div class="grid md:grid-cols-2 gap-x-4 gap-y-4 lg:gap-y-0 pb-5">
                <div>
                    <label for="pais" class="block pl-2 font-medium">País</label>
                    <input type="text" id="pais" name="pais" formControlName="country"
                    class="bg-[#3B364C] mt-1 w-full px-4 py-3 rounded-2xl shadow-sm focus:ring-purple-500 focus:border-purple-500">
                    <small class="text-red-500 text-xs mt-1" *ngIf="userEditForm.get('country')?.invalid">
                        <span *ngIf="userEditForm.get('country')?.hasError('pattern')">Solo se permiten letras</span>
                    </small>
                </div>
    
                <div>
                    <label for="localidad" class="block pl-2 font-medium">Localidad</label>
                    <input type="text" id="localidad" name="localidad" formControlName="locality"
                    class="bg-[#3B364C] mt-1 w-full px-4 py-3 rounded-2xl shadow-sm focus:ring-purple-500 focus:border-purple-500">
                    <small class="text-red-500 text-xs mt-1" *ngIf="userEditForm.get('locality')?.invalid">
                        <span *ngIf="userEditForm.get('locality')?.hasError('pattern')">Solo se permiten letras</span>
                    </small>
                </div>
            </div>

            <button type="submit" [disabled]="isLoading()" class="w-full bg-[#5D3CBA] text-white py-3 px-4 rounded-2xl hover:bg-purple-700">
                {{ isLoading() ? 'Cargando...' : 'Actualizar' }}
            </button>

            <div *ngIf="errorMessage" class="w-full bg-red-500 text-white font-bold mt-2 text-center py-3 px-4 rounded-2xl">
                {{errorMessage}}
            </div>
        </form>
    </div>
</div>
