<ng-container *ngIf="isLargeScreen; else mobileView">
  <div
    class="bg-primary-light p-6 py-4 text-white bg-primary-light rounded-[24px] h-full flex flex-col justify-between max-w-[1590px] max-h-[1024px] ml-4" 
  >
    <div class="fixed top-0 z-[999]"></div>
    <div
      class="bg-primary-main rounded-[1rem] py-4 mb-6 max-w-[97.5%] ml-[13px] px-4"
    >
      <div class="flex items-center justify-center">
        <h1 class="text-xl font-semibold px-10 rounded-[1rem] py-2 bg-primary-light">
          Catálogo
        </h1>
        <div class="flex items-center w-full justify-between">
          <div class="relative w-[50%]">
            <input
              type="text"
              placeholder="Buscar producto"
              class="bg-primary-light text-white pl-4 ml-14 py-2 rounded-lg w-full"
              (keyup.enter)="searchProducts()"
              [(ngModel)]="searchQuery"
            />

            <img
              src="/icons/search.svg"
              class="fas fa-search cursor-pointer top-1/2 transform -translate-y-1/2 text-gray-400 absolute right-[-10px]"
              (click)="searchProducts()"
            />
          </div>
          <button class="bg-primary-light p-5 rounded-lg relative mr-[10%]">
            <img src="/icons/filter.svg" class="absolute top-3 left-3" />
          </button>
          <div class="flex gap-4">
            <div class="mr-6">
              <button class="bg-accent p-5 rounded-l-lg relative">
                <img
                  src="/icons/table-view.svg"
                  class="absolute top-[8px] left-[8px]"
                />
              </button>
              <button class="bg-primary-light p-5 rounded-r-lg relative cursor-not-allowed">
                <img
                  src="/icons/options.svg"
                  class="absolute top-[8px] left-[8px]"
                />
              </button>
            </div>
            <button
              (click)="showPopUp()"
              class="bg-[#5D3CBA] p-5 rounded-lg relative relative"
            >
              <img
                src="/icons/add.svg"
                class="absolute top-[10px] left-[10px]"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute right-[12%] top-[7%] z-[999]">
      <app-bot [showBot]="showBot" [hidePopUp]="hidePopUp"></app-bot>
    </div>

    <div
      id="products"
      class="myshop-table-container bg-primary-light rounded-[1rem] m-4 pr-3 h-[680px] overflow-y-auto max-w-[1500px]"
    >
      <div class="bg-primary-main rounded-[1rem] h-[680px]">
        <table class="w-full">
          <thead>
            <tr class="bg-secondary-main text-left">
              <th class="p-3">Cód. Id <i class="fas fa-sort ml-1"></i></th>
              <th class="p-3">Producto <i class="fas fa-sort ml-1"></i></th>
              <th class="p-3">Stock <i class="fas fa-sort ml-1"></i></th>
              <th class="p-3">Precio <i class="fas fa-sort ml-1"></i></th>
              <th class="p-3">Estado <i class="fas fa-sort ml-1"></i></th>
              <th class="p-3">Ingreso <i class="fas fa-sort ml-1"></i></th>
              <th class="p-3 rounded-tr-[1rem]">Detalles</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!isLoading; else loadingSpinner">
              <ng-container *ngIf="products.length > 0; else noProducts">
                <tr
                  *ngFor="let product of products"
                  class="border-b border-[#2B2738]"
                >
                  <td class="p-3 py-6">{{ product.code }}</td>
                  <td class="p-3 py-6">{{ product.title }}</td>
                  <td class="p-3 py-6">{{ product.stock }}</td>
                  <td class="p-3 py-6">$ {{ product.price }}</td>
                  <td class="p-3 py-6 flex items-center">
                    <span
                      class="w-2 h-2 rounded-full mr-2"
                      [ngClass]="{
                        'bg-green-500': product.status,
                        'bg-yellow-500': !product.status
                      }"
                    ></span>
                    {{ product.status ? "En venta" : "Inventario" }}
                  </td>
                  <td class="p-3">
                    {{ product.created_data | date : "dd/MM/yyyy" }}
                  </td>
                  <td class="p-3">
                    <button (click)="changeProductStatus(product.id)">
                      <img
                        [src]="
                          product.status
                            ? '/icons/eyes.svg'
                            : '/icons/hidden-eye.svg'
                        "
                        class="w-6 h-6"
                      />
                    </button>
                    <button class="ml-3" (click)="goToProduct(product.id)">
                      <img src="/icons/search-white.svg" class="w-5 h-5" />
                    </button>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="flex justify-between items-center mt-2 bg-primary-main py-3 px-5 rounded-[1rem] max-w-[1490px] ml-4"
    >
      <button
        class="flex items-center"
        (click)="goToPreviousPage()"
        *ngIf="totalPages > 2 && currentPage > 1"
      >
        <img src="/icons/chevron-left.svg" class="fas fa-chevron-right mr-2" />
        Anterior
      </button>

      <div class="flex space-x-5 mx-auto">
        <ng-container
          *ngFor="let page of [].constructor(totalPages); let i = index"
        >
          <button
            class="border-[#7C798A] border-[1px] hover:bg-secondary-main w-8 h-8 rounded-lg"
            (click)="goToPage(i + 1)"
          >
            {{ i + 1 }}
          </button>
        </ng-container>

        <button
          *ngIf="totalPages > 4"
          class="border-[#7C798A] border-[1px] w-8 h-8 rounded-lg"
        >
          ...
        </button>
      </div>

      <button
        class="flex items-center"
        (click)="goToNextPage()"
        *ngIf="totalPages > 2 && currentPage < totalPages"
      >
        Siguiente
        <img src="/icons/chevron-right.svg" class="fas fa-chevron-right ml-2" />
      </button>
    </div>
  </div>
</ng-container>

<ng-template #mobileView>
  <div class="text-white rounded-2xl w-full px-2">
    <div class="rounded-[1rem] py-4 mb-1 w-full">
      <div class="flex items-center gap-4 relative">
        <img
          *ngIf="!searchQuery"
          src="/icons/search.svg"
          class="cursor-pointer text-gray-400 absolute left-[3%]"
          (click)="searchProducts(searchQuery)"
        />
        <input
          type="text"
          placeholder="Buscar mensaje"
          class="bg-[#3B364C] text-white pl-4 py-3 rounded-[16px] w-full placeholder:pl-8"
          (keyup.enter)="searchProducts(searchQuery)"
          [(ngModel)]="searchQuery"
        />
        <button class="bg-[#3B364C] p-2 rounded-lg p-[0.8rem]">
          <img src="/icons/filter.svg" class="w-5 h-5" />
        </button>
      </div>
    </div>

    <div class="flex justify-between items-center py-4 rounded-lg">
      <h2 class="text-white px-6 py-3 bg-[#3B364C] rounded-[16px] font-bold">
        Catálogo
      </h2>
      <div class="flex bg-[#3B364C] p-1 rounded-lg">
        <button class="bg-[#E5E504] p-2 rounded-lg">
          <img src="/icons/table-view.svg" class="w-6 h-6" />
        </button>
        <button class="bg-[transparent] p-2 rounded-lg cursor-not-allowed">
          <img src="/icons/options.svg" class="w-6 h-6" />
        </button>
      </div>
      <button class="bg-[#5D3CBA] p-3 rounded-lg">
        <img (click)="showPopUp()" src="/icons/add.svg" class="w-5 h-5" />
      </button>
    </div>

    <div class="absolute right-[0] top-[0%] z-[999]">
      <app-bot [showBot]="showBot" [hidePopUp]="hidePopUp"></app-bot>
    </div>
    <!-- Sección de Detalles del Producto -->
    <ng-container *ngIf="!isLoading; else loadingSpinner">
      <ng-container *ngIf="products.length > 0; else noProducts">
        <div
          *ngFor="let product of products"
          class="rounded-[24px] my-4 flex gap-[2px] flex-col"
        >
          <h3
            class="bg-[#5D3CBA] rounded-t-[16px] p-3 text-lg font-semibold flex justify-between"
          >
            Detalles
            <div class="flex gap-2">
              <button>
                <img
                  (click)="changeProductStatus(product.id)"
                  [src]="
                    product.status ? '/icons/eyes.svg' : '/icons/hidden-eye.svg'
                  "
                  class="w-6 h-6"
                />
              </button>
              <button class="ml-3">
                <img
                  (click)="goToProduct(product.id)"
                  src="/icons/search-white.svg"
                  class="w-5 h-5"
                />
              </button>
            </div>
          </h3>
          <div class="bg-[#3B364C] p-3 flex justify-between">
            <span>Producto:</span>
            <span> {{ product.title }}</span>
          </div>
          <div class="bg-[#3B364C] p-3 flex justify-between">
            <span>Stock:</span>
            <span>{{ product.stock }}</span>
          </div>
          <div class="bg-[#3B364C] p-3 flex justify-between">
            <span>Precio:</span>
            <span>$ {{ product.price }}</span>
          </div>
          <div class="bg-[#3B364C] p-3 flex justify-between">
            <span>Estado:</span>
            <div class="flex items-center gap-2">
              <span
                [ngClass]="{
                  'bg-green-500': product.status,
                  'bg-yellow-500': !product.status
                }"
                class="w-2 h-2 rounded-full"
              >
              </span>
              {{ product.status ? "En venta" : "Inventario" }}
            </div>
          </div>
          <div class="bg-[#3B364C] p-3 flex justify-between">
            <span>Ingreso:</span>
            <span>
              {{ product.created_data | date : "dd/MM/yyyy" }}
            </span>
          </div>
          <div class="bg-[#3B364C] p-3 flex justify-between rounded-b-[16px]">
            <span>Cod. Id:</span>
            <span>{{ product.code }}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div
      class="flex justify-between items-center mt-auto bg-[#2B2738] py-3 px-5 rounded-[1rem] max-w-[1370px] ml-4"
    >
      <button
        class="flex items-center"
        (click)="goToPreviousPage()"
        *ngIf="totalPages > 2 && currentPage > 1"
      >
        <img src="/icons/chevron-left.svg" class="fas fa-chevron-right mr-2" />
        Anterior
      </button>

      <div class="flex space-x-5 mx-auto">
        <ng-container
          *ngFor="let page of [].constructor(totalPages); let i = index"
        >
          <button
            class="border-[#7C798A] border-[1px] hover:bg-[#5D3CBA] w-8 h-8 rounded-lg"
            (click)="goToPage(i + 1)"
          >
            {{ i + 1 }}
          </button>
        </ng-container>

        <button
          *ngIf="totalPages > 4"
          class="border-[#7C798A] border-[1px] w-8 h-8 rounded-lg"
        >
          ...
        </button>
      </div>

      <button
        class="flex items-center"
        (click)="goToNextPage()"
        *ngIf="totalPages > 2 && currentPage < totalPages"
      >
        Siguiente
        <img src="/icons/chevron-right.svg" class="fas fa-chevron-right ml-2" />
      </button>
    </div>

    <ng-template #loadingSpinner>
      <div class="text-center py-8 text-white">
        <div class="spinner"></div>
        Cargando productos
      </div>
    </ng-template>

    <ng-template #noProducts>
      <div class="text-center py-8">No se encontraron productos.</div>
    </ng-template>
  </div>
</ng-template>

<ng-template #loadingSpinner>
  <tr>
    <td colspan="7" class="text-center py-8">
      <div class="spinner"></div>
    </td>
  </tr>
</ng-template>

<ng-template #noProducts>
  <tr>
    <td colspan="7" class="text-center py-8">No se encontraron productos.</td>
  </tr>
</ng-template>
