<div class="fixed inset-0 z-10 flex items-center justify-center text-white bg-opacity-80 backdrop-blur-sm select-none" (click)="toggleEditImagesForm()">
    <div class="relative bg-[#2B2738] w-full max-w-2xl lg:max-w-4xl p-8 rounded-2xl shadow-lg mx-1 lg:mx-4 md:mx-0 max-h-[90vh] overflow-y-auto border-2 border-white" (click)="$event.stopPropagation()">

        <button class="absolute top-5 right-5" (click)="toggleEditImagesForm()">
            <img src="/icons/close.svg" loading="lazy" alt="Close" class="w-6 h-6">
        </button>

        <h2 class="text-2xl font-bold mb-6">Edita las imagenes del producto</h2>

        <form class="space-y-4" enctype="multipart/form-data" (ngSubmit)="onEditImagesSubmit($event)" [formGroup]="editImagesForm">
            <div>
              <label for="imagen" class="block pl-2 font-medium">Subir Imagen</label>
              <input type="file" id="imagenes" name="imagenes" accept="image/*" multiple (change)="onFileChange($event)" formControlName="imagesForUpdate"
                class="bg-[#3B364C] mt-1 w-full px-4 py-3 rounded-2xl shadow-sm focus:ring-purple-500 focus:border-purple-500">
                <small class="text-[#737271] text-sm ">* Máximo de 3 imágenes</small>
            </div>
          
            <button type="submit" [disabled]="isLoadingForm()"
                class="w-full py-3 px-4 rounded-2xl" class="w-full bg-purple-600 text-white py-3 px-4 rounded-2xl hover:bg-purple-700
                  disabled:bg-secondary-main disabled:opacity-50">
                {{isLoadingForm() ? 'Cargando...' : 'Subir Imagenes'}}
            </button>

            <div *ngIf="errorMessage" class="w-full bg-red-500 text-white font-bold mt-2 text-center py-3 px-4 rounded-2xl">
              {{errorMessage}}
            </div>

        </form>
    </div>
</div>