<div
  *ngIf="showBot"
  class="w-[100vw] lg:w-[380px] relative h-[100dvh] lg:h-[700px] mx-auto bg-gray-100 lg:border-white lg:border-solid lg:border-[1px] bg-primary-main z-[999] scale-in-tr"
>
  <div
    class="w-full h-[60px] bg-secondary-main flex items-center justify-between px-3"
  >
    <p class="text-white font-bold">Agregar producto</p>
    <button (click)="hidePopUp()">
      <img src="/icons/close-circle.svg" alt="close button" />
    </button>
  </div>
  <div
    #messagesContainer
    class="chatbot-container space-y-3 mt-4 px-4 rounded-lg mb-24 lg:mb-12 max-h-[600px] overflow-y-auto pb-[6rem]"
  >
    <div
      *ngFor="let message of messages"
      class="p-3 rounded-lg fade-in"
      [ngClass]="
        message.isUser
          ? 'bg-[#3B364C] text-right w-[fit-content] ml-auto py-1 shadow-[0_2px_#880DDB]'
          : 'bg-secondary-main mr-5'
      "
    >
      <p class="text-sm" [innerHTML]="message.text"></p>
      <div *ngIf="message.options" class="mt-2 space-x-2">
        <button
          *ngFor="let option of message.options"
          (click)="selectOption(option)"
          [disabled]="message.isDisabled"
          class="px-3 py-2 m-1 text-sm bg-[#3B364C] text-white rounded shadow-[0_2px_#880DDB] transition duration-300 hover:bg-primary-main"
        >
          {{ option }}
        </button>
      </div>
      <div
        *ngIf="message.countRequired"
        class="mt-2 flex items-center justify-start gap-4"
      >
        <button
          (click)="decrementCount()"
          class="px-3 py-1 bg-black text-white rounded hover:bg-primary-light transition duration-300"
        >
          -
        </button>
        <input
          [(ngModel)]="productCount"
          (blur)="validateCount()"
          class="w-12 p-1 bg-black text-center rounded text-white border-none"
          type="number"
          inputmode="numeric"
        />
        <button
          (click)="incrementCount()"
          class="px-3 py-1 bg-black text-white rounded hover:bg-primary-light transition duration-300"
        >
          +
        </button>
      </div>
      <div *ngIf="message.isConfirmation" class="mt-2 space-x-2">
        <button
          (click)="confirmInfo(false)"
          class="px-3 py-2 m-1 text-sm bg-[#3B364C] text-white rounded shadow-[0_2px_#880DDB] transition duration-300 hover:bg-primary-main"
        >
          No
        </button>

        <button
          (click)="confirmInfo(true)"
          class="px-3 py-2 m-1 text-sm bg-[#3B364C] text-white rounded shadow-[0_2px_#880DDB] transition duration-300 hover:bg-primary-main"
        >
          Si, es correcto
        </button>
      </div>
    </div>
    <div
      *ngIf="isComplete"
      class="mt-4 w-full text-[14px] whitespace-nowrap py-2 text-white transition duration-300 flex flex-col items-center"
    >
      ¡Listo! Ya cargamos el producto en tu inventario. <br>¡Aguarda un instante!

      <img src="/images/success.png" alt="producto-cargado" class="w-32 h-32" />
    </div>
  </div>
  <div
    class="absolute bottom-0 flex justify-center h-[50px] w-full justify-around"
  >
    <input
      type="text"
      [(ngModel)]="userResponse"
      (keyup.enter) = "advance()"
      *ngIf="!isComplete && currentStep < questions.length"
      class="bg-primary-light mb-3 rounded-md w-[70%] placeholder:pl-2 pl-2"
      [ngClass]="{
        'text-[transparent] placeholder:text-[transparent]': currentStep == 8,
        'animate-border-slow': !inputDisabled && currentStep !== 7,
      }"
      placeholder="Mensaje"
      [type]="!isPriceInput ? 'number' : 'text'"
      [disabled]="inputDisabled || loadImage"
    />

    <input
      #fileInput
      type="file"
      (change)="onImageSelected($event)"
      class="hidden"
      accept="image/*"
    />

    <!-- Botón personalizado -->
    <button
      *ngIf="!isComplete && currentStep < questions.length"
      (click)="fileInput.click()"
      [ngClass]="{
        'bg-primary-light': !loadImage,
        'bg-secondary-main animate-glow-fast': loadImage
      }"
      class="w-[fit-content] px-2 mb-3 bg-primary-light text-white rounded transition duration-300 hover:bg-primary-dark"
    >
      <img src="/icons/paper-clip.svg" alt="cargar-archivo" />
    </button>
    <button
      *ngIf="!isComplete && currentStep < questions.length"
      (click)="(userResponse.length > 0 || inputDisabled) && advance()"
      class="w-[fit-content] px-2 mb-3 bg-primary-light text-white rounded hover:bg-secondary-main transition duration-300"
      [disabled]="!glowSendButton"
    >
      <img src="/icons/send.svg" alt="send-icon" />
    </button>
  </div>
</div>

<div
  *ngIf="showBackground && showBot"
  class="fixed inset-0 backdrop-blur-sm z-10 "
  (click)="hidePopUp()"
></div>
