<main class="flex items-center justify-center h-screen bg-primary-light box-border p-4 rounded-2xl select-none">
    <article class="flex flex-col items-center">
        <div class="flex flex-col items-center mb-6">
            <img src="images/under-development.png" loading="lazy" alt="En desarrollo" class="sm:max-w-xl">
            <p class="text-lg md:text-xl mt-8 text-[#7C798A]">Oops... Página en desarrollo.</p>
        </div>
        <div>
            <a [routerLink]="'/'" class="inline-block underline text-base md:text-lg font-semibold text-white hover:text-purple-700 transition duration-300">
                Home
            </a>
        </div>
    </article>
</main>
