<main class="flex items-center justify-center h-screen bg-primary-light box-border p-4 rounded-2xl">
    <article class="flex flex-col items-center">
        <div class="flex flex-col items-center mb-6">
            <img src="images/404Error.svg" loading="lazy" alt="Error 404" class="sm:max-w-xl">
            <p class="text-lg md:text-xl text-[#7C798A]">Oops... Página no encontrada.</p>
        </div>
        <div>
            <a [routerLink]="'/'" class="inline-block underline text-base md:text-lg font-semibold text-white hover:text-purple-700 transition duration-300">
                Home
            </a>
        </div>
    </article>
</main>
