<main class="flex items-center justify-center min-h-screen bg-[#3B364C] p-4 h-screen rounded-2xl">
    <article class="flex flex-col items-center">
        <header class="flex flex-col items-center mb-6">
            <img src="images/404Error.svg" alt="Error 404" class="sm:max-w-lg">
            <p class="text-lg md:text-xl text-[#7C798A]">Oops... Página no encontrada.</p>
        </header>
        <footer>
            <a [routerLink]="'/'" class="inline-block underline text-base md:text-lg font-semibold text-white hover:text-purple-700 transition duration-300">
                Home
            </a>
        </footer>
    </article>
</main>
