<section class="h-screen box-border bg-[#2B2738] shadow-lg flex flex-col justify-center lg:flex-row overflow-hidden md:p-4 md:-m-4 rounded-2xl select-none">

  <aside class="hidden rounded-2xl m-3 lg:flex flex-grow-[1.3] bg-[#A58FF7] bg-[url('/images/login-background.png')] bg-center object-contain bg-no-repeat items-center justify-center">
  </aside>

  <article class="py-6 sm:px-10 md:p-6 flex-1">
    <header class="text-center mb-6">
      <div class="flex gap-8 sm:gap-10 justify-center">
        <button [routerLink]="['/sign-up']" class="bg-gray-700 text-white font-bold py-2 px-4 rounded-2xl focus:outline-none transition duration-300 ease-in-out hover:bg-gray-600 block w-full">
          Crear cuenta
        </button>
        <button class="bg-[#5D3CBA] text-white font-bold py-2 px-4 rounded-2xl focus:outline-none block w-full">
          Iniciar Sesión
        </button>
      </div>
    </header>
    
    <h2 class="text-4xl font-bold text-white my-10">Iniciar sesión</h2>

    <form class="space-y-4" (ngSubmit)="onLoginSubmit($event)" [formGroup]="userForm">

      <div class="relative">
        <label for="email" class="block text-base m-1 font-medium text-gray-100">Email</label>
        <img src="/icons/email-icon.svg" class="absolute left-3 top-[2.75rem] w-6 h-6 text-gray-400" alt="Ícono de correo">
        <input id="email" name="email" type="email" placeholder="Ingresa tu Email" class="w-full p-3 pl-11 mt-1 rounded-2xl bg-gray-700 text-white" formControlName="email">
      </div>

      <div class="relative">
        <label for="password" class="block text-base m-1 font-medium text-gray-100">Contraseña</label>
        <img src="/icons/password-icon.svg" class="absolute left-3 top-[2.60rem] w-6 h-7 text-gray-400" alt="Ícono de llave">
        <input id="password" name="password" [type]="viewPassword() ? 'text' : 'password'" placeholder="Ingresa tu contraseña" class="w-full p-3 pl-11 mt-1 rounded-2xl bg-gray-700 text-white" formControlName="password">
        <img *ngIf="viewPassword()" src="/icons/show-password.svg" class="absolute top-[70%]  right-[4%] md:right-[2%] transform -translate-y-1/2 w-[1.55rem] cursor-pointer" alt="Mostrar contraseña" (click)="togglePassword()">
        <img *ngIf="!viewPassword()" src="/icons/hide-password.svg" class="absolute top-[70%]  right-[4%] md:right-[2%] transform -translate-y-1/2 w-[1.55rem] cursor-pointer" alt="Mostrar contraseña" (click)="togglePassword()">
      </div>

      <div class="flex justify-end">
        <a href="#" class="text-purple-600 text-sm text-right">¿Olvidaste tu contraseña?</a>
      </div>

      <button type="submit" [disabled]="isLoading()" class="w-full bg-[#5D3CBA] text-white font-bold py-3 px-4 rounded-2xl transition duration-300 ease-in-out 
      hover:bg-purple-500 disabled:bg-purple-400 disabled:opacity-50">
        {{ isLoading() ? 'Cargando...' : 'Iniciar sesión' }}
      </button>
    </form>

    <div *ngIf="errorMessage" class="w-full bg-red-500 text-white font-bold mt-2 text-center py-3 px-4 rounded-2xl">
        {{errorMessage}}
    </div>

    <div class="relative mt-6">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-600"></div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="bg-[#2B2738] px-2 text-gray-400">o</span>
      </div>
    </div>

    <button class="mt-4 w-full bg-white text-black font-bold  py-3 px-3 rounded-2xl flex justify-center items-center cursor-pointer">
      <img src="/icons/google.svg" class="w-6 h-6 mr-2" alt="Google">
      Continuar con Google
    </button>
  </article>

</section>
