<main class="min-h-screen flex flex-col justify-center bg-gray-800 p-4 select-none">
  <section class="w-full lg:w-3/4 xl:w-2/3 mx-auto my-2 bg-gray-900 rounded-xl shadow-lg flex flex-col lg:flex-row overflow-hidden">

    <aside class="hidden lg:flex flex-1 items-center justify-center bg-purple-50">
      <img src="/images/sign-up-background.png" alt="Imagen de ejemplo">
    </aside>

    <article class="p-6 sm:px-10 flex-1">
      <header class="text-center mb-6">
        <div class="flex gap-8 sm:gap-10 justify-center">
          <button [routerLink]="['/sign-up']" class="bg-gray-700 text-white font-bold py-2 px-4 rounded-2xl focus:outline-none transition duration-300 ease-in-out hover:bg-gray-600 block w-full">
            Crear cuenta
          </button>
          <button class="bg-cyan-500 text-white font-bold py-2 px-4 rounded-2xl focus:outline-none block w-full">
            Iniciar Sesión
          </button>
        </div>
      </header>
      
      <h2 class="text-3xl font-bold text-white mb-6">Iniciar sesión</h2>

      <form class="space-y-4" (ngSubmit)="onLoginSubmit($event)" [formGroup]="userForm">

        <div class="relative">
          <label for="email" class="block text-sm font-medium text-gray-300">Email</label>
          <img src="/icons/email-icon.svg" class="absolute left-3 top-8 w-6 h-6 text-gray-400" alt="Ícono de correo">
          <input id="email" name="email" type="email" placeholder="Ingresa tu Email" class="w-full p-2 pl-11 mt-1 rounded bg-gray-700 text-white" formControlName="email">
        </div>

        <div class="relative">
          <label for="password" class="block text-sm font-medium text-gray-300">Contraseña</label>
          <img src="/icons/password-icon.svg" class="absolute left-3 top-[1.95rem] w-6 h-7 text-gray-400" alt="Ícono de llave">
          <input id="password" name="password" [type]="viewPassword() ? 'text' : 'password'" placeholder="Ingresa tu contraseña" class="w-full p-2 pl-11 mt-1 rounded bg-gray-700 text-white" formControlName="password">
          <img *ngIf="viewPassword()" src="/icons/show-password.svg" class="absolute top-[70%] right-[2%] transform -translate-y-1/2 w-[1.55rem] cursor-pointer" alt="Mostrar contraseña" (click)="togglePassword()">
          <img *ngIf="!viewPassword()" src="/icons/hide-password.svg" class="absolute top-[70%] right-[2%] transform -translate-y-1/2 w-[1.55rem] cursor-pointer" alt="Mostrar contraseña" (click)="togglePassword()">
        </div>

        <div class="flex justify-end">
          <a href="#" class="text-purple-600 text-xs text-right">¿Olvidaste tu contraseña?</a>
        </div>

        <button type="submit" class="w-full bg-purple-600 text-white font-bold py-2 px-4 rounded-2xl transition duration-300 ease-in-out hover:bg-purple-500">
          Iniciar sesión
        </button>
      </form>

      <div *ngIf="errorMessage" class="w-full bg-red-500 text-white font-bold mt-2 text-center py-2 px-4 rounded-2xl">
          {{errorMessage}}
      </div>

      <div class="relative mt-6">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-600"></div>
        </div>
        <div class="relative flex justify-center text-sm">
          <span class="bg-gray-900 px-2 text-gray-400">o</span>
        </div>
      </div>

      <button (click)="loginWithGoogle()" class="mt-4 w-full bg-white text-black font-bold py-2 px-4 rounded-2xl flex justify-center items-center cursor-pointer">
        <img src="/icons/google.svg" class="w-6 h-6 mr-2" alt="Google">
        Continuar con Google
      </button>
    </article>

  </section>
</main>
