<div class="body text-white font-sans">
  <div class="max-w-md mx-auto p-4">
    <main>
      <div class="flex items-center mb-6 mt-7">
        <h2 class="font-Nunito text-base">¡Hola Josefina!</h2>
        <!--  <div class="flex justify-items-end ml-20 pl-10">
          <img
            src="https://us.123rf.com/450wm/vikvector/vikvector2405/vikvector240500622/230093605-a-woman-with-sunglasses-on-her-face-is-looking-up-at-the-sky-the-image-is-a-colorful-and-vibrant.jpg?ver=6"
            alt="Foto de usuario"
            class="w-10 h-10 rounded-lg"
          />
        </div> -->
      </div>

      <div class="bg-[#2b2738] rounded-lg p-1 mb-6">
        <div class="flex justify-between items-center mb-4">
          <div class="relative w-full">
            <!-- Icono de lupa -->
            <svg
              class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-[#7c798a]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-4.35-4.35m1.15-6.15a7 7 0 1 1-14 0 7 7 0 0 1 14 0z"
              />
            </svg>

            <!-- Campo de búsqueda -->
            <input
              type="text"
              placeholder="Buscar mensaje"
              class="bg-[#3b364c] border-[#2b2738] p-2 pl-10 rounded-lg w-full mr-2"
            />
          </div>

          <!-- Botón de filtro -->
          <button class="bg-[#3b364c] text-[#7c798a] p-2 rounded-lg ml-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="flex items-center">
        <h2 class="text-base mr-10">¡Tienes envíos pendientes!</h2>
        <button
          class="bg-[#5d3cba] text-white ml-12 py-1 px-5 rounded-lg w-auto"
        >
          Ver
        </button>
      </div>

      <div class="bg-[#2b2738] rounded-lg p-4 mb-6 mt-8">
        <div class="h-32 bg-[#3b364c] rounded-lg mb-4">
          <h3 class="font-bold mb-10 p-2">Historial de ventas semanal</h3>
          <div class="flex justify-between text-xs mt-14 p-3">
            <span>Lunes</span>
            <span>Martes</span>
            <span>Miércoles</span>
            <span>Jueves</span>
            <span>Viernes</span>
            <span>Sábado</span>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-4 gap-2 mb-6">
        <button class="bg-[#3b364c] p-2 rounded-lg flex flex-col items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 mb-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
            />
          </svg>
          <span>Mi tienda</span>
        </button>
        <button class="bg-[#3b364c] p-2 rounded-lg flex flex-col items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 mb-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
            />
          </svg>
          <span>Mensajes</span>
        </button>
        <button class="bg-[#3b364c] p-2 rounded-lg flex flex-col items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 mb-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
            />
          </svg>
          <span>Estadísticas</span>
        </button>
        <button class="bg-[#3b364c] p-2 rounded-lg flex flex-col items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 mb-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
            />
          </svg>
          <span>Clientes</span>
        </button>
        <button
          class="bg-[#3b364c] text-white p-2 rounded-lg flex flex-col items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 mb-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 19h6v-2a2 2 0 00-2-2h-2a2 2 0 00-2 2v2zM5 13h14l1 3H4l1-3zM3 8h18v4H3V8zM7 6h10l1-2H6L7 6z"
            />
          </svg>
          <span>Envíos</span>
        </button>
        <button
          class="bg-[#3b364c]  text-white p-2 rounded-lg flex flex-col items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 mb-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 8c2.28 0 4 1.72 4 4s-1.72 4-4 4-4-1.72-4-4 1.72-4 4-4zm0-6a6 6 0 016 6v2a6 6 0 01-12 0V8a6 6 0 016-6z"
            />
          </svg>
          <span>Facturación</span>
        </button>
        <button
          class="bg-[#3b364c]  text-white p-2 rounded-lg flex flex-col items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 mb-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7 7v10a2 2 0 002 2h6a2 2 0 002-2V7H7zm-2 4V6a1 1 0 011-1h10a1 1 0 011 1v5a1 1 0 01-1 1h-1v2H8v-2H7a1 1 0 01-1-1z"
            />
          </svg>
          <span>Pedidos</span>
        </button>
      </div>
    </main>
  </div>
</div>
