/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #2b2738;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #2b2738;
  border: 3px solid #2b2738;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7c798a;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5d3cba;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
.animate-glow-fast {
  animation: glow 0.8s infinite alternate;
}
.animate-glow-slow {
  animation: glow 1.5s infinite alternate;
}

.animate-border-slow {
  animation: glow-border 1s infinite alternate;
}

@keyframes glow-border {
  0% {
    border-color: #3b364c;
    border-width: 0;
  }
  100% {
    border-color: #7654d4;
    border-width: 1.5px;
  }
}

@keyframes glow {
  0% {
    background-color: #3b364c;
  }
  100% {
    background-color: #5d3cba;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.chatbot-container {
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none;
}


.scale-in-tr {
	-webkit-animation: scale-in-tr 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tr 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
