<main class="min-h-screen flex flex-col justify-center bg-gray-800 p-4 select-none">
    <section class="w-full lg:w-3/4 xl:w-2/3 mx-auto my-2 bg-gray-900 rounded-xl shadow-lg flex flex-col lg:flex-row overflow-hidden">
  
      <article class="p-6 sm:px-10 flex-1">
        <header class="text-center mb-6">
          <div class="flex gap-8 sm:gap-10 justify-center">
            <button class="bg-cyan-500 text-white font-bold py-2 px-4 rounded-2xl focus:outline-none block w-full">
              Crear cuenta
            </button>
            <button [routerLink]="['/login']" class="bg-gray-700 text-white font-bold py-2 px-4 rounded-2xl focus:outline-none transition duration-300 ease-in-out hover:bg-gray-600 block w-full">
              Iniciar Sesión
            </button>
          </div>
        </header>
        
        <h2 class="text-3xl font-bold text-white mb-6">Crear cuenta</h2>
  
        <form class="space-y-4" (ngSubmit)="onRegisterSubmit($event)" [formGroup]="registerForm">
          <div class="relative">
            <label for="nombre" class="block text-base font-medium text-gray-100">Nombre</label>
            <img src="/icons/name-icon.svg" class="absolute left-2 top-[2.15rem] w-7 h-7 text-gray-400" alt="Ícono de usuario">
            <input id="nombre" name="nombre" type="text" placeholder="Ingresa tu nombre" class="w-full p-2 pl-11 mt-1 rounded bg-gray-700 text-white" formControlName="firstName">
            <small class="text-red-500 text-xs mt-1" *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">
                <span *ngIf="registerForm.get('firstName')?.hasError('required')">Este campo es obligatorio</span>
                <span *ngIf="registerForm.get('firstName')?.hasError('pattern')">Solo se permiten letras</span>
            </small>
          </div>
  
          <div class="relative">
            <label for="apellido" class="block text-base font-medium text-gray-100">Apellido</label>
            <img src="/icons/name-icon.svg" class="absolute left-2 top-[2.15rem] w-7 h-7 text-gray-400" alt="Ícono de usuario">
            <input id="apellido" name="apellido" type="text" placeholder="Ingresa tu apellido" class="w-full p-2 pl-11 mt-1 rounded bg-gray-700
             text-white" formControlName="lastName">
            <small class="text-red-500 text-xs mt-1" *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched">
                <span *ngIf="registerForm.get('lastName')?.hasError('required')">Este campo es obligatorio</span>
                <span *ngIf="registerForm.get('lastName')?.hasError('pattern')">Solo se permiten letras</span>
            </small>
          </div>

          <div>
            <label for="role" class="block text-base font-medium text-gray-100">Rol</label>
            <select id="role" name="role" placeholder="Ingresa tu rol" class="w-full p-2 mt-1 rounded bg-gray-700 text-white" formControlName="role">
              <option value="" disabled>Selecciona una opción...</option>
              <option value="vendor">Vendedor</option>
              <option value="user">Usuario</option>
            </select>
            <small class="text-red-500 text-xs mt-1" *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched">
                <span *ngIf="registerForm.get('role')?.hasError('required')">Este campo es obligatorio</span>
            </small>
          </div>

          <p>{{registerForm.value.role}}</p>
  
          <div class="relative">
            <label for="email" class="block text-base font-medium text-gray-100">Email</label>
            <img src="/icons/email-icon.svg" class="absolute left-3 top-9 w-6 h-6 text-gray-400" alt="Ícono de correo">
            <input id="email" name="email" type="email" placeholder="Ingresa tu Email" class="w-full p-2 pl-11 mt-1 rounded bg-gray-700 text-white" formControlName="email">
            <small class="text-red-500 text-xs mt-1" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                <span *ngIf="registerForm.get('email')?.hasError('required')">Este campo es obligatorio</span>
                <span *ngIf="registerForm.get('email')?.hasError('email')">Debes ingresar un email valido</span>
            </small>
          </div>
  
          <div class="relative">
            <label for="password" class="block text-base font-medium text-gray-100">Contraseña</label>
            <img src="/icons/password-icon.svg" class="absolute left-3 top-[2.15rem] w-6 h-7 text-gray-400" alt="Ícono de llave">
            <input id="password" name="password" [type]="viewPassword() ? 'text' : 'password'" placeholder="Ingresa tu contraseña" class="w-full p-2 pl-11 mt-1 rounded bg-gray-700 text-white" formControlName="password">
            <img *ngIf="viewPassword()" src="/icons/show-password.svg" class="absolute top-[70%] right-[2%] transform -translate-y-1/2 w-[1.55rem] cursor-pointer" alt="Mostrar contraseña" (click)="togglePassword()">
            <img *ngIf="!viewPassword()" src="/icons/hide-password.svg" class="absolute top-[70%] right-[2%] transform -translate-y-1/2 w-[1.55rem] cursor-pointer" alt="Mostrar contraseña" (click)="togglePassword()">
          </div>
          <small class="text-red-500 text-xs mt-1" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
            <span *ngIf="registerForm.get('password')?.hasError('required')">Este campo es obligatorio</span>
            <span *ngIf="registerForm.get('password')?.hasError('minLength')">La contraseña debe tener al menos 8 caracteres</span>
          </small>
  
          <div class="flex items-center">
            <input id="terminos" name="terminos" type="checkbox" class="w-4 h-4 text-cyan-500 focus:ring-cyan-400 rounded">
            <label for="terminos" class="ml-2 text-sm text-gray-300">Acepto <a href="#" class="text-cyan-400">Términos y Condiciones</a></label>
            <small class="text-red-500 text-xs mt-1" *ngIf="registerForm.get('terms')?.invalid && registerForm.get('terms')?.touched">
                <span *ngIf="registerForm.get('terms')?.hasError('required')">Debes aceptar los términos y condiciones</span>
            </small>
          </div>
  
          <button type="submit" class="w-full bg-purple-600 text-white font-bold py-2 px-4 rounded-2xl transition duration-300 ease-in-out hover:bg-purple-500">
            Regístrate
          </button>
        </form>

        <div *ngIf="errorMessage" class="w-full bg-red-500 text-white font-bold mt-2 text-center py-2 px-4 rounded-2xl">
            {{errorMessage}}
        </div>
  
        <div class="relative mt-6">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-600"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="bg-gray-900 px-2 text-gray-400">o</span>
          </div>
        </div>
  
        <button class="mt-4 w-full bg-white text-black font-bold py-2 px-4 rounded-2xl flex justify-center items-center">
          <img src="/icons/google.svg" class="w-6 h-6 mr-2" alt="Google">
          Continuar con Google
        </button>
      </article>
  
      <aside class="hidden lg:flex flex-1 items-center justify-center bg-purple-50">
        <img src="/images/sign-up-background.png" alt="Imagen de ejemplo">
      </aside>
    </section>
</main>
  